@import "../../globals.scss";

.footer {
  background-color: $primary-bg;
  display: flex;
  justify-content: space-between;
  padding: 3rem;

  &_links {
    display: flex;
    flex-direction: column;

    &_item {
      text-decoration: none;
      color: $primary-font-color;
      margin: 15px;
      font-weight: 700;
    }
  }

  .back_to_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .chevron {
      color: $primary-font-color;

      &:hover {
        transform: translate(10px, 50%);
      }
    }

    p {
      color: $primary-font-color;
      font-weight: 700;
    }
  }

  &_info {
    color: $primary-font-color;
    margin: 15px;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
