@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: white;
  color: black;
}
