@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

$primary-bg: #222222;
$secondary-bg: #8fb5aa;
$tertiary-bg: #fad2b7;

$primary-font-family: "Montserrat", sans-serif;

$primary-font-color: #f9f7f3;
$secondary-font-color: #222222;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $primary-font-family;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  margin: 0;
  padding: 0;
}
