@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

:root {
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: white;
  color: black;
}
